.page-home {
  .page {
    &__hero--overlay {
      @media (min-width: $small) {
        background-position: center top 65%;
        aspect-ratio: 2.6;
      }

      @media (min-width: $large) {
        .wrapper {
          margin-top: 6em;
        }
      }
    }
  }
}
