.masthead {
  &__menu-item {
    i {
      color: $primary-color;
      font-style: normal;
    }
  }

  .site-logo img {
    max-height: 4rem;
  }

  .site-title {
    font-size: 0.66rem;
    font-weight: normal;
    opacity: 0.95;
    align-self: flex-end;
    margin-bottom: 1em;
  }
}
