.masthead {
  &__menu-item {
    i {
      color: $primary-color;
      font-style: normal;
    }
  }

  .site-logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:after {
      content: "Association de Solidarité Internationale";
      font-size: 0.6rem;
      opacity: 0.95;
      margin-top: 0.5em;
    }

    img {
      max-height: 4rem;
    }
  }

  .site-title {
    display: none;
  }
}
