.masthead {
  font-size: 14px;

  @include breakpoint($x-large) {
    font-size: 15px;
  }

  &__menu-item {
    i {
      color: $primary-color;
      font-style: normal;
    }
  }

  .site-logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:after {
      content: "Association de Solidarité Internationale";
      font-size: 0.6rem;
      opacity: 0.95;
      margin-top: 0.5em;
    }

    img {
      max-height: 4rem;
    }
  }

  .site-title {
    display: none;
  }

  .btn {
    font-weight: inherit;
    font-size: inherit;
  }

  .visible-links {
    &.btn--light-outline:hover {
      background-color: darken($background-color, 10%);
    }
  }

  .hidden-links {
    .btn {
      border: none;
      text-align: inherit;
    }
  }
}
.greedy-nav .visible-links {
  align-items: center;
}
