.wide {
  .page {
    @include breakpoint($large) {
      padding-right: 0;
      width: 100%;
    }

    @include breakpoint($x-large) {
      padding-right: 0;
      width: 100%;
    }
  }

  .page__related {
    @include breakpoint($large) {
      padding-right: 0;
      width: 100%;
    }

    @include breakpoint($x-large) {
      padding-right: 0;
      width: 100%;
    }
  }
}

.not-wide {
  @include breakpoint($medium) {
    width: calc(66%);
    margin-left: 17%;
  }
}

.well {
  background-color: darken($background-color, 8%);
}
