.cover {
  img {
    object-fit: cover;
    aspect-ratio: 1;
  }
}

.page-text-right-photo {
  @media (min-width: $small) {
    display: flex;
    align-items: center;
  }

  > * {
    flex: 1;
  }
}

figure.flex-around {
  display: flex;
  justify-content: center;
  gap: 24px;

  > a,
  > img {
    width: inherit;
  }
}

.max-height-480 {
  img {
    width: inherit;
    max-height: 480px;
    object-fit: cover;
  }
}
