.page-splash-pirogue {
  .page {
    &__hero--overlay {
      @media (min-width: $small) {
        background-position: center top 48%;
        aspect-ratio: 3.9;
      }

      @media (min-width: $large) {
        .wrapper {
          margin-top: 10em;
        }
      }
    }
  }
}
