.cover {
  img {
    object-fit: cover;
    aspect-ratio: 1;
  }
}

.page-text-right-photo {
  @media (min-width: $small) {
    display: flex;
    align-items: center;
  }

  > * {
    flex: 1;
  }
}

figure {
  @media (min-width: $small) {
    &.half,
    &.third {
      display: grid;
      grid-gap: 20px;
      justify-content: space-between;

      & > a,
      & > img {
        width: inherit;
      }
    }

    &.half {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    &.third {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    &.flex-around {
      justify-content: space-evenly;
      grid-template-columns: auto auto;
    }
  }

  a:hover {
    scale: 1.01;
  }
}

.max-height-480 {
  img {
    width: inherit;
    max-height: 480px;
    object-fit: cover;
  }
}

video {
  max-width: 100%;
  height: auto;
}
