.w-400 {
  max-width: 100%;
}

.w-400 {
  @media (min-width: $small) {
    max-width: 40%;
    width: 400px;
  }
}

.mt-0 {
  margin-top: 0;
}

.mb-40 {
  margin-bottom: 40px;
}

.responsive-video-container {
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
